# Ignore node_modules
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Ignore uploads
Backend/uploads/

# Ignore environment files
.env

# Ignore system and logs
.DS_Store
Thumbs.db
*.log

# Ignore build folders (if present)
build/
Frontend/build/
Backend/build/

# Ignore editor settings
.vscode/
.idea/


